html {
    scroll-padding-top: 70px;
}

body {
    display: block;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
main {
    height: 100%;
    position: relative;
}

main::before {
    content: '';
    background-image: url('../images/bg-img.jpg');
    position:absolute;
    inset: 0;
    opacity: 0.1;
}

.nav-bar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    background-color: rgb(255, 192, 203);
    z-index: 3;
    font-weight: bold;
}
.nav-list {
    display: flex;
    list-style: none;
    
}
.nav-list li {
    margin: 0;
}

#nav-about, 
#nav-skills, 
#nav-contact,
#nav-languages {
    padding: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#about {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    gap: 80px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.about-block {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
}

#avatar {
    border-radius: 80px;
    max-width: 150px;
    height: auto;
    position: relative;

}

#second-block{
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

#contact ul {
    list-style: none;
}

#contact-block,
#languages-block {
    display: flex;
    flex-direction: column;
}


#skills {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 80px 100px;
    gap: 80px;
    justify-content: center;
    z-index: 2;
}

.skills-block {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

pre {
    display: flex;
    background-color: rgb(219, 213, 213);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 192, 203);
    padding: 10px 0px; 
    width: 100%;
 }

.footer-image {
    max-height: 50px;
    max-width: 70px;
}

.footer-item {
    margin: 0 50px;
}